*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* text-align: center; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    margin: auto;
    width: 1200px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    padding: 0px 20px 0px 20px;
}

header .logo-div a img {
    width: 162px;
    height: 36px;
}

header .search-div {
    margin-left: 126px;
    position: relative;
}
header .search-div img {
    position: absolute;
    top: 12px;
    left: 30px;
}

header .search-div input {
    width: 411px;
    padding-left: 30px;
    margin-left: 20px;
    height: 40px;
    border-radius: 8px;
    border: 1px #1860A3 solid;
}
header .search-div input::placeholder {
    font-size: 16px;
}

.acct {
    padding: 0px 5px 0px 5px;
}
.acct-img {
    width: 20px;
    /* margin-left: -20px; */
    position: absolute;
    left: -9px;
}

/* dropdown style start */

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: -55px;
    background-color: #FFFFFF;
    min-width: 150px;
    height: 150px;
    border-radius: 8px;
    padding: 5px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 13px 0px 0px 20px;
    text-decoration: none;
    display: block;
    margin: 0px 0px 0px 20px;
    position: relative;
}
.dropdown-content a:hover {
    font-size: 19px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* dropdown style end */

header .links-div {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: end;
    /* margin: 0px 0px 0px 20px; */
}
header .links-div div {
    margin: 0px 0px 0px 30px;
}
header .links-div div a {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* margin: 0px 0px 0px 30px; */
}
.cart-div {
    position: relative;
}

.cart-total {
    padding-top: 5px;
    display: block;
    color: #fff;
    background-color: #F2994A;
    width: 24px;
    text-align: center;
    height: 24px;
    font-size: 14px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -10px;
}


/* main {
    min-height: 60vh;
} */

/* footer style start */
footer {
    /* display: flex; */
    /* flex: 1; */
    margin: auto;
    width: 1200px;
    height: 272px;
    background-color: #282828;
    color: #FFFFFF;
    display: flex;
}
footer .footer-div-0 {
    margin: 40px 0px 0px 50px;
}
footer .footer-div-0 a {
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}
footer .footer-div-0 a:hover {
    color: #1860A3;
    font-size: 16px;
}
footer .footer-div-1 {
    margin: 40px 0px 0px 90px;
}
footer .footer-div-1 a {
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}
footer .footer-div-1 a:hover {
    color: #1860A3;
    font-size: 16px;
}
footer .footer-div-2 {
    margin: 40px 0px 0px 80px;
}
footer .footer-div-2 div a img:hover{
    width: 80px;
}
footer .footer-div-3 {
    margin: 90px 0px 0px 80px;
}
footer .footer-div-3 h4{
    color: #F2994A;
}
footer .footer-div-3 div{
    margin: 10px 0px 0px 0px;
}
footer .footer-div-3 div a{
    margin: 0px 0px 0px 10px;
}
footer .footer-div-3 div a img:hover{
    width: 30px;
}


/* footer style end */

