*{
    margin: 0%;
    padding: 0%;
    

}

.sign{
   background-color: white; 
    }




.textbox{
    margin-top: 400px;
    margin-left: 50px;
}


.container{
    width: 400px;
    height: 350px;
    margin-top: -194px;
    margin-right: 160px;

    border-radius: 12px;
    background-color: white;
    width: 390px;
    height: 55px; 
    text-align: left; 
    box-sizing: border-box;
    max-width: 800px;

}




.form{
    float: right;
   background-color: white;
    margin-top: -12px;
    padding: 20px;
}
.form input{
    margin-top: 10px;
margin-left: -10px;
border-radius: 8px;
margin-right: -10px;
    padding:17px;
    width: 332px;

}
button{
    margin-top: 15px;
    background-color: skyblue;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}
p{
    background-color: white;
    font-size: 16px;
    color: #1877f2;
    margin-top: 10px;
    text-align: end;
}
p a{
    color: #1877f2;
    background-color: white;
    text-align: right;
}
.btn {
    padding:0% ;
    margin-top: 15px;
   background-color: white;
   margin-left: 60px;
   margin-right: 60px;
}


.btn button{
    background-color:skyblue ;
   
}
.btn  .google{
    background-color: aliceblue;
    color: black;
}

p.option{
    text-align:center;
}